<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Index-cambios 29/7</title>
    
    <link rel="stylesheet" href="/static/css/estilo.css">
    <link rel="icon" href="/static/favicon.ico">


</head>
<body>
  <div class="container" id="app">
    <h1>Bienvenido a la aplicación Emi.com</h1>
    <a href="/login">Login</a> | <a href="/register">Register</a>
  </div>

  <script type="module" src="/static/js/router.js"></script>
</body>

</html>




